@tailwind base;
@tailwind components;

/*** Application Colors ***/

$zaffre: #001399;
$blue: #014ce4;
$electricPurple: #aa54ff;
$fluorescentBlue: #01e7e4;
$gray: #718096;
$lightGray: #e2e8f0;
$darkGray: #2d3748;
$charcoal: #364359; /* charcoal */

:root {
  --badge-size-xs: 0.9375rem;
  --badge-size-sm: 1rem;
  --badge-size-md: 1.125rem;
  --badge-size-lg: 1.5rem;
  --badge-size-default: var(--badge-size-md);
  --badge-size-xl: 1.75rem;
  --badge-size-2xl: 2rem;
  --chip-size-xs: 0.625rem;
  --chip-size-sm: 0.75rem;
  --chip-size-md: 0.875rem;
  --chip-size-lg: 1rem;
  --chip-size-default: var(--chip-size-md);
  --color-blue: $blue;
  --color-charcoal: $charcoal;
  --color-indigo: $zaffre;
  --color-neutral: $gray;
  --color-neutral-light: $lightGray;
  --color-purple: $electricPurple;
  --color-primary: $zaffre;
  --color-secondary: $electricPurple;
  --color-teal: $fluorescentBlue;
  --game-card-min-width: 300px;
  --game-title-color: var(--color-charcoal);
  --match-card-min-width: 180px;
}

/*** Globals ***/
html {
  @apply font-lexend-deca;
}

/*** Icons ***/

.icon {
  @apply inline-block w-4-em h-4-em stroke-0 stroke-current fill-current text-current duration-200 transition-all ease-out;
}

.icon--full {
  @apply w-full h-full;
}

/*** Badge ***/
.badge {
  --badge-width: 1.375em;
  --badge-height: 1.375em;
  --badge-padding: 0.1875em;
  --badge-full-padding: 16.666667%;
  font-size: var(--badge-size-base);
  @apply inline-block rounded-full text-center text-current;
  width: var(--badge-width);
  height: var(--badge-height);
  padding: var(--badge-padding);
}

.badge--full {
  @apply w-full h-full;
  padding: var(--badge-full-padding);
}

.badge--xs {
  font-size: var(--badge-size-xs);
}

.badge--sm {
  font-size: var(--badge-size-sm);
}

.badge--md {
  font-size: var(--badge-size-md);
}

.badge--lg {
  font-size: var(--badge-size-lg);
}

.badge--xl {
  font-size: var(--badge-size-xl);
}

.badge--2xl {
  font-size: var(--badge-size-2xl);
}

.badge--white {
  @apply bg-white;
  color: var(--color-neutral);
}

.badge__icon {
  @apply block w-full h-full align-top;
}

/*** Buttons ***/

.btn {
  @apply py-2 px-4 bg-gray-300 cursor-pointer outline-none;
}

.btn:hover {
  @apply bg-gray-400;
}

.btn:focus {
  @apply outline-none;
}

.btn--icon {
  @apply text-gray-600;
}

.btn--icon:hover {
  @apply text-gray-900;
}

.btn--is-active:hover {
  @apply text-white;
}

/* consider using if svg defaults need to change */
.btn--icon.btn--is-active {
  @apply bg-blue-500 border-blue-500 text-white;
}

.btn--is-active .btn__icon {
  @apply text-inherit text-current;
}

.btn--is-active .btn__icon:hover {
  @apply text-white; /* overrides any other hover rules */
}

.btn--secondary {
  @apply text-white bg-blue-300 duration-200 transition-all ease-in-out;
}

.btn--secondary:hover {
  @apply text-white bg-blue-500 duration-200 transition-all ease-in-out;
}

.btn--rounded {
  @apply rounded;
}

/*** Button Groupings - Use for "multi-buttons" only ***/

.btn-group {
  @apply inline-flex text-base;
}

.btn-group--xs {
  font-size: 0.625rem;
}

.btn-group--sm {
  font-size: 0.75rem;
}

.btn-group--md {
  font-size: 0.875rem;
}

.btn-group--lg {
  @apply text-lg;
}

.btn-group__btn {
  @apply flex-1 inline-flex items-center justify-center p-2-em m-0 text-base-em bg-gray-300 outline-none;
}

.btn-group__btn .icon {
  @apply w-5-em h-5-em;
}

.btn-group__btn:hover {
  @apply bg-gray-400;
}

.btn-group :not(:last-of-type) {
  @apply border-r border-gray-400;
}

.btn-group--rounded .btn-group__btn:first-of-type {
  @apply rounded-l-lg;
}

.btn-group--rounded .btn-group__btn:last-of-type {
  @apply rounded-r-lg;
}

/*** Chips ***/

.chip {
  --chip-text-spacing-x: 0.5rem;
  --chip-badge-spacing-x: 0.25rem;
  --chip-icon-spacing-x: 0.25rem;
  --chip-max-width: 160px;
  font-size: var(--chip-size-default);
  @apply inline-block h-8-em rounded-sm overflow-hidden select-none;
}

.chip--xs {
  font-size: var(--chip-size-xs);
}

.chip--sm {
  font-size: var(--chip-size-sm);
}

.chip--md {
  font-size: var(--chip-size-md);
}

.chip--lg {
  font-size: var(--chip-size-lg);
}

.chip--blue {
  @apply bg-blue-500 text-white;
}

.chip--primary {
  @apply bg-primary text-white;
}

.chip--secondary {
  @apply bg-secondary text-white;
}

.chip--neutral {
  @apply bg-neutral-light text-neutral;
}

.chip--teal {
  @apply bg-theme-teal text-gray-700;
}

.chip--purple {
  @apply bg-theme-purple text-white;
}

.chip--pill {
  @apply rounded-full;
}

.chip__inner {
  @apply inline-flex items-center h-full;
  max-width: var(--chip-max-width);
}

.chip__badge {
  @apply flex-none text-base-em;
  margin: 0 var(--chip-badge-spacing-x);
}

.chip__icon {
  @apply flex-none w-6-em h-6-em p-1-em;
  margin: 0 var(--chip-icon-spacing-x);
}

.chip__text {
  margin: 0 var(--chip-text-spacing-x);
  @apply flex-1 truncate;
}

.chip__icon ~ .chip__text {
  margin-left: calc(-0.75 * var(--chip-icon-spacing-x));
}

.chip__text ~ .chip__icon {
  margin-left: calc(-1.5 * var(--chip-icon-spacing-x));
}

.chip__badge ~ .chip__text {
  @apply ml-0;
}

.chip__text ~ .chip__badge {
  margin-left: calc(
    -1 * (var(--chip-text-spacing-x) - var(--chip-badge-spacing-x))
  );
}

.chip--pill .chip__badge:last-child {
  @apply mr-1;
}

.chip--pill .chip__badge:first-child {
  @apply ml-1;
}

.chip-row {
  --chip-row-padding: 0.5rem;
  --chip-row-item-spacing: 0.25rem;
  @apply flex flex-wrap flex-row flex-1;
}

.chip-row--spaced > *.chip {
  margin: var(--chip-row-item-spacing);
}

.chip-row--spaced > *.chip:last-child {
  @apply mr-0;
}

/*** Match Edit ***/

/*.match-edit-pane {}*/

.match-edit-pane--bulk {
  @apply bg-gray-100;
}

.match-edit-pane--bulk.popup {
  @apply transition-all duration-1000 delay-100 ease-in-out;
}

.match-edit-pane--bulk.popup.maximized {
  @apply fixed h-auto w-3/5 max-w-screen-md z-50 shadow-md;
  @apply m-auto !important;
  top: 15%;
  right: 20%;
  bottom: 20%;
  left: 20%;
}

@screen md {
  .match-edit-pane--bulk {
    @apply h-full;
  }
  .match-edit-pane--bulk.popup.maximized .bulk-match__footer {
    min-height: unset;
    max-height: 80px;
  }
}

/*** Bulk Match ***/

.bulk-match__header {
  min-height: 60px;
  @apply flex p-4 border-b border-gray-400;
}

.bulk-match__actions {
  @apply flex w-full;
}

.bulk-match__actions-pre {
  @apply mr-auto pl-2;
}

.bulk-match__actions-pre *:not(:last-child) {
  @apply mr-1;
}

.bulk-match__actions-append {
  @apply ml-auto;
}

.bulk-match__resize {
  @apply hidden w-10 h-10;
}

.bulk-match__body {
  @apply mr-4;
}

.bulk-match__footer {
  min-height: 120px;
  @apply flex justify-center items-center py-4 px-8 border-t border-gray-400;
}

.bulk-match__instructions {
  @apply leading-tight m-auto;
}

@screen md {
  .bulk-match {
    @apply flex flex-col h-full overflow-y-hidden;
  }

  .bulk-match__header {
    @apply flex-none;
  }

  .bulk-match__resize {
    @apply block;
  }

  .bulk-match__body {
    @apply relative flex-1 h-full mt-0;
    flex-basis: 60%;
  }

  .bulk-match__body .CodeMirror {
    @apply absolute top-0 left-0 bottom-0 right-0 h-full;
  }

  .bulk-match__footer {
    @apply flex-1;
    flex-basis: 15%;
  }
}

/*** CodeMirror ***/
.CodeMirror {
  @apply rounded-tr rounded-br text-base font-sans;
}

.CodeMirror .CodeMirror-vscrollbar,
.CodeMirror .CodeMirror-hscrollbar {
  @apply outline-none;
}

/*** Matches ***/

.match-detail {
  @apply bg-gray-100;
}

.search-box {
  @apply relative flex-1 inline-flex w-full;
}

.search-box__icon {
  @apply absolute w-6 h-6 top-1/2 transform -translate-y-1/2 ml-1 text-gray-500;
}

.search-box__input {
  @apply flex-shrink w-full pt-1 pr-4 pb-1 pl-8 border-l border-t border-b border-gray-400 rounded-l text-lg text-gray-800 leading-tight outline-none;
  min-width: 96px;
  max-width: 320px;
}

.matches {
  @apply relative;
}

.matches__header {
  @apply text-center;
}

.matches__actions {
  @apply flex p-4 items-stretch justify-center;
}

.matches__search-box {
  @apply text-gray-400;
  max-width: 320px;
}

.matches__sort-asc,
.matches__sort-desc {
  @apply w-8 h-8 flex-shrink-0 p-1;
}

.matches__sort-desc {
  @apply rounded-r;
}

.matches__body {
  @apply relative px-4 pt-4 pb-8;
}

.matches__card-grid {
  @apply grid gap-3;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--match-card-min-width), 1fr)
  );
}

@screen md {
  .match-detail {
    @apply h-full overflow-hidden;
  }

  .matches {
    @apply flex flex-col h-full overflow-y-hidden;
  }

  .matches__header {
    @apply flex-none;
  }

  .matches__body {
    @apply relative flex-1 h-full mt-0 overflow-y-auto;
  }
}

.match-card {
  @apply relative py-2 pl-4 pr-6 border rounded-lg border-gray-300 bg-white z-0 shadow-sm transition-all duration-200 ease-in-out;
}

.match-card:hover {
  @apply border-gray-400;
}

.match-card::after {
  content: '';
  @apply absolute top-0 left-0 w-full h-full rounded-lg opacity-0 -z-1 shadow-lg transition-all duration-200 ease-in-out;
}

.match-card:hover::after {
  @apply opacity-100;
}

.match-card__actions {
  @apply absolute top-0 right-0 leading-none font-medium;
}

.match-card__delete {
  @apply w-7 h-7 p-1 border-none text-gray-400 outline-none;
}

.match-card__delete:hover {
  @apply text-pink-300;
}

.match-card__term {
  @apply mt-0 mr-6 mb-4 ml-0 font-lexend-deca leading-extra-tight;
}

.match-card__definition {
  @apply mb-1 text-md leading-tight font-hind text-gray-600;
}

/*** Dashboard ***/

.dashboard__card-grid {
  @apply grid gap-3 m-4;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--game-card-min-width), 1fr)
  );
}

/*** Game Card ***/

.game-card {
  @apply relative flex flex-col border rounded-xl border-gray-800 border-opacity-10 bg-white z-0 shadow-none transition-all duration-300 ease-in-out overflow-hidden;
}

.game-card:hover {
  @apply border-opacity-25;
}

.game-card::after {
  content: '';
  @apply absolute top-0 left-0 w-full h-full rounded-xl opacity-0 -z-1 shadow-md transition-all duration-300 ease-in-out overflow-hidden;
}

.game-card:hover::after {
  @apply opacity-100;
}

.game-card__body {
  @apply relative flex-1 flex flex-col px-6 py-4;
  min-height: 7rem;
}

.game-card__delete {
  @apply absolute hidden top-0 left-0 w-full h-full transition-all duration-200 ease-in-out -z-1;
}

.game-card__delete-icon {
  @apply w-8 h-8 fill-current;
}

.game-card__badge {
  @apply absolute top-0 right-0 w-16 h-16 rounded-full border mr-3 mt-3 bg-gray-100;
}

.game-card__title {
  @apply flex-1 pr-20 mb-4 font-montserrat tracking-tight font-extrabold;
  font-size: 1.1875rem;
  line-height: 1.1;
  color: var(--game-title-color);
}

.game-card__details {
  @apply pr-20;
}

.game-card__footer {
  @apply flex-none px-6 py-4 rounded-b-xl bg-gray-100 overflow-hidden;
}

.game-card__actions {
  @apply w-full;
}

.game-card__body:hover .game-card__delete {
  @apply fill-current flex items-center justify-center text-pink-400 bg-pink-100 opacity-75 transition-all duration-200 ease-in-out z-10;
}

.game-card--can-delete .game-card__body:hover .game-card__delete {
  @apply text-pink-700 bg-pink-200 opacity-50;
}


/*.btn {
  @apply outline-none cursor-pointer;
  @nest & .classThatMustBeBelow {
    color: var(--mainColor);
    @apply outline-none;
  }
  &:hover {
    color: var(--mainColor);
    @apply outline-none;
  }
}

.btn__icon {
  color: var(--mainColor);
  @apply outline-none;
  @nest &.additionalClassThatMustBeHad {
    &:hover {
      color: var(--mainColor);
    }
  }
  &:hover {
    color: purple;
    @apply outline-none;
  }
}*/

/*** Home ***/
.bg-gradient--primary {
  background: linear-gradient(#2bc3eb, #916afb);
}

@tailwind utilities;

@import './styles/custom.scss';
